---
http_interactions:
- request:
    method: post
    uri: http://www.issnetonline.com.br/webserviceabrasf/homologacao/servicos.asmx
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.issnetonline.com.br/webservice/nfd" xmlns:soap="http://www.w3.org/2003/05/soap-envelope"><soap:Body><RecepcionarLoteRps><xml><![CDATA[<?xml version="1.0" encoding="utf-8"?>
        <EnviarLoteRpsEnvio xmlns="http://www.issnetonline.com.br/webserviceabrasf/vsd/servico_enviar_lote_rps_envio.xsd" xmlns:tc="http://www.issnetonline.com.br/webserviceabrasf/vsd/tipos_complexos.xsd">
          <LoteRps>
            <tc:NumeroLote>1</tc:NumeroLote>
            <tc:CpfCnpj>
              <tc:Cnpj>14576582000163</tc:Cnpj>
            </tc:CpfCnpj>
            <tc:InscricaoMunicipal>124762</tc:InscricaoMunicipal>
            <tc:QuantidadeRps>1</tc:QuantidadeRps>
            <tc:ListaRps>
              <tc:Rps>
                <tc:InfRps>
                  <tc:IdentificacaoRps>
                    <tc:Numero>15</tc:Numero>
                    <tc:Serie>8</tc:Serie>
                    <tc:Tipo>1</tc:Tipo>
                  </tc:IdentificacaoRps>
                  <tc:DataEmissao>2014-06-24T10:00:00</tc:DataEmissao>
                  <tc:NaturezaOperacao>1</tc:NaturezaOperacao>
                  <tc:OptanteSimplesNacional>2</tc:OptanteSimplesNacional>
                  <tc:IncentivadorCultural>2</tc:IncentivadorCultural>
                  <tc:Status>1</tc:Status>
                  <tc:RegimeEspecialTributacao>1</tc:RegimeEspecialTributacao>
                  <tc:Servico>
                    <tc:Valores>
                      <tc:ValorServicos>35</tc:ValorServicos>
                      <tc:ValorPis>0</tc:ValorPis>
                      <tc:ValorCofins>0</tc:ValorCofins>
                      <tc:ValorInss>0</tc:ValorInss>
                      <tc:ValorIr>0</tc:ValorIr>
                      <tc:ValorCsll>0</tc:ValorCsll>
                      <tc:IssRetido>2</tc:IssRetido>
                      <tc:ValorIss>0</tc:ValorIss>
                      <tc:BaseCalculo>35</tc:BaseCalculo>
                      <tc:Aliquota>5.00</tc:Aliquota>
                      <tc:ValorLiquidoNfse>35</tc:ValorLiquidoNfse>
                      <tc:DescontoIncondicionado>0</tc:DescontoIncondicionado>
                      <tc:DescontoCondicionado>0</tc:DescontoCondicionado>
                    </tc:Valores>
                    <tc:ItemListaServico>8</tc:ItemListaServico>
                    <tc:CodigoCnae>6399200</tc:CodigoCnae>
                    <tc:Discriminacao>Discriminação da RPS</tc:Discriminacao>
                    <tc:CodigoTributacaoMunicipio>50000024</tc:CodigoTributacaoMunicipio>
                    <tc:MunicipioPrestacaoServico>999</tc:MunicipioPrestacaoServico>
                  </tc:Servico>
                  <tc:Prestador>
                    <tc:CpfCnpj>
                      <tc:Cnpj>14576582000163</tc:Cnpj>
                    </tc:CpfCnpj>
                    <tc:InscricaoMunicipal>124762</tc:InscricaoMunicipal>
                  </tc:Prestador>
                  <tc:Tomador>
                    <tc:IdentificacaoTomador>
                      <tc:CpfCnpj>
                        <tc:Cpf>93565968834</tc:Cpf>
                      </tc:CpfCnpj>
                    </tc:IdentificacaoTomador>
                    <tc:RazaoSocial>José Serra</tc:RazaoSocial>
                    <tc:Endereco>
                      <tc:Endereco>R dos Navegantes 123, 321</tc:Endereco>
                      <tc:Numero>123</tc:Numero>
                      <tc:Complemento>321</tc:Complemento>
                      <tc:Bairro>Boa Viagem</tc:Bairro>
                      <tc:Cidade>1</tc:Cidade>
                      <tc:Estado>PE</tc:Estado>
                      <tc:Cep>51021010</tc:Cep>
                    </tc:Endereco>
                  </tc:Tomador>
                </tc:InfRps>
              </tc:Rps>
            </tc:ListaRps>
          </LoteRps>
          <Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
        <SignedInfo>
        <CanonicalizationMethod Algorithm="http://www.w3.org/2001/10/xml-exc-c14n#"/>
        <SignatureMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1"/>
        <Reference>
        <Transforms>
        <Transform Algorithm="http://www.w3.org/2000/09/xmldsig#enveloped-signature"/>
        </Transforms>
        <DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1"/>
        <DigestValue>8AXJf2h4iLh6Q5wv9ELO2WRmH9s=</DigestValue>
        </Reference>
        </SignedInfo>
        <SignatureValue>kQXJoLSYxFZriX113XrVKICb1DTI3rHHgtXEUKab08Nc3DMNyyUu07YYlpEVvXEE
        mkCxDNXOLzDCRLC7+jaKwEIAlOX3G8ikD9GQFqX+j7AT3J99zMULmst8g09ERGJB
        FFmM7SH/R1rdgfavUyWWRQjjOXe9t7z3hyUF+V0CJR2zO/q/gJqz2K4ZBRvf5am6
        P7/sSNsq6y/u7d34iZlcEK16KVtNz+eLa5hvJKQaQMyF3ri5H79sVpaWEIbBSbST
        q2GyP2neYzU4CFfcuTBO7OBWa0B54+BjAERslQRqaG9btc+7KXkQaVA6bJJstIZx
        L/dlRyxXXJKSCQbcIlmUyA==</SignatureValue>
        <KeyInfo>
        <X509Data>
        <X509Certificate>MIIH7jCCBdagAwIBAgIIebwmN9dD4mUwDQYJKoZIhvcNAQELBQAwTDELMAkGA1UE
        BhMCQlIxEzARBgNVBAoTCklDUC1CcmFzaWwxKDAmBgNVBAMTH1NFUkFTQSBDZXJ0
        aWZpY2Fkb3JhIERpZ2l0YWwgdjIwHhcNMTQwMzE5MTc0MjAwWhcNMTUwMzE5MTc0
        MjAwWjCCAQoxCzAJBgNVBAYTAkJSMRMwEQYDVQQKEwpJQ1AtQnJhc2lsMRQwEgYD
        VQQLEwsoRU0gQlJBTkNPKTEYMBYGA1UECxMPMDAwMDAxMDA0OTk4NDUzMRQwEgYD
        VQQLEwsoRU0gQlJBTkNPKTEUMBIGA1UECxMLKEVNIEJSQU5DTykxFDASBgNVBAsT
        CyhFTSBCUkFOQ08pMRQwEgYDVQQLEwsoRU0gQlJBTkNPKTEUMBIGA1UECxMLKE[...]
