---
http_interactions:
- request:
    method: post
    uri: http://speedgov.com.br/wsmod/Nfes
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:nfse="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd"><soapenv:Body><nfse:ConsultarNfse><header><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
        <p:cabecalho xmlns:p="http://ws.speedgov.com.br/cabecalho_v1.xsd" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:p1="http://ws.speedgov.com.br/tipos_v1.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" versao="1" xsi:schemaLocation="http://ws.speedgov.com.br/cabecalho_v1.xsd">
          <versaoDados>1</versaoDados>
        </p:cabecalho>
        ]]></header><parameters><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
        <p:ConsultarNfseEnvio xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:p="http://ws.speedgov.com.br/consultar_nfse_envio_v1.xsd" xmlns:p1="http://ws.speedgov.com.br/tipos_v1.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://ws.speedgov.com.br/consultar_nfse_envio_v1.xsd">
          <p:Prestador>
            <p1:Cnpj>12552510000150</p1:Cnpj>
            <p1:InscricaoMunicipal>68</p1:InscricaoMunicipal>
          </p:Prestador>
        </p:ConsultarNfseEnvio>
        ]]></parameters></nfse:ConsultarNfse></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - '"ConsultarNfse"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns2:ConsultarNfseResponse xmlns:ns2="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd"><return>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
        &lt;ConsultarNfseResposta&gt;&lt;ListaNfse/&gt;&lt;/ConsultarNfseResposta&gt;</return></ns2:ConsultarNfseResponse></S:Body></S:Envelope>
  recorded_at: Mon, 04 Aug 2014 04:20:21 GMT
recorded_with: VCR 2.9.2
