---
http_interactions:
- request:
    method: post
    uri: http://speedgov.com.br/wsmod/Nfes
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:nfse="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd"><soapenv:Body><nfse:ConsultarNfse><header><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
        <p:cabecalho xmlns:p="http://ws.speedgov.com.br/cabecalho_v1.xsd" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:p1="http://ws.speedgov.com.br/tipos_v1.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" versao="1" xsi:schemaLocation="http://ws.speedgov.com.br/cabecalho_v1.xsd">
          <versaoDados>1</versaoDados>
        </p:cabecalho>
        ]]></header><parameters><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
        <p:ConsultarNfseEnvio xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:p1="http://ws.speedgov.com.br/tipos_v1.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://ws.speedgov.com.br/consultar_nfse_envio_v1.xsd" xsi:schemaLocation="http://ws.speedgov.com.br/consultar_nfse_envio_v1.xsd">
          <p:Prestador>
            <p1:Cnpj>12552510000150</p1:Cnpj>
            <p1:InscricaoMunicipal>68</p1:InscricaoMunicipal>
          </p:Prestador>
          <p:IntermediarioServico>
            <p1:RazaoSocial>àõéúîàõéúîàõéúîàõéúîàõéúî</p1:RazaoSocial>
            <p1:CpfCnpj>
              <p1:Cnpj>62894995000139</p1:Cnpj>
            </p1:CpfCnpj>
            <p1:InscricaoMunicipal>12345670</p1:InscricaoMunicipal>
          </p:IntermediarioServico>
        </p:ConsultarNfseEnvio>
        ]]></parameters></nfse:ConsultarNfse></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - '"ConsultarNfse"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><S:Fault
        xmlns:ns4="http://www.w3.org/2003/05/soap-envelope"><faultcode>S:Server</faultcode><faultstring>java.lang.NullPointerException</faultstring><detail><ns2:exception
        xmlns:ns2="http://jax-ws.dev.java.net/" class="java.lang.NullPointerException"
        note="To disable this feature, set com.sun.xml.ws.fault.SOAPFaultBuilder.disableCaptureStackTrace
        system property to false"><ns2:stackTrace><ns2:frame class="com.intersol.envio.ConsultarNfseEnvio"
        file="ConsultarNfseEnvio.java" line="48" method="acessoDatabase"/><ns2:frame
        class="com.intersol.envio.ConsultarNfseEnvio" file="ConsultarNfseEnvio.java"
        line="43" method="processaEnvio"/><ns2:frame class="com.intersol.Nfes" file="Nfes.java"
        line="190" method="ConsultarNfse"/><ns2:frame class="sun.reflect.NativeMethodAccessorImpl"
        file="NativeMethodAccessorImpl.java" line="native" method="invoke0"/><ns2:frame
 [...]
